<div class="container footer">
	<div class="row">
		<div class="col_6">		
			<h3>Important Info</h3>
			<a href="http://www.section508.gov/">Section 508 Compliance</a>
		</div>
		<div class="col_6 last">
			<h3>You might find me lurking around</h3>
			<a href="http://www.smashingmagazine.com">Smashing Magazine</a><br />
			<a href="http://www.forrst.com/">Forrst</a><br />
			<a href="http://www.github.com">Github</a><br />
		</div>		
	</div>
	<div class="row">
		<div class="col_12 copyright">
			&copy Toribaa.com 2011
		</div>	
	</div>	
</div>