<div class="container portfolio">
	<div class="row">
		<div class="col_12">
			<h1>So...Take a glance at some of my work.</h1>
		</div>	
	</div>
	<div class="row">
		<div class="col_12">
			<%= yield %>
		</div>		
	</div>
</div>		
<div class="container divider_2"></div>